<div class="heading">
  <div class="container">
    <form novalidate
          (ngSubmit)="onSubmit()"
          #orgForm="ngForm">
      <h3>Add Organization</h3>
      <hr />
      <ul>
        <li>
          <label for="orgId">{{constants.ORG_ID_LABEL}}:</label>
          <input type="text" class="form-control" required
                 minlength={{constants.ORG_ID_MIN_LENGTH}}
                 maxlength={{constants.ORG_ID_MAX_LENGTH}}
                 [(ngModel)]="model.organizationId"  name="orgId"
                 [ngModelOptions]="{standalone: true}"
                 (keypress)="onKeyPress($event)"
                 #orgId="ngModel">
          <div *ngIf="orgId.errors && (orgId.dirty || orgId.touched)"
               class="right-alert">
            <div [hidden]="!orgId.errors.required">
              {{ constants.ORG_ID_REQUIRED_MESSAGE }}
            </div>
            <div [hidden]="!orgId.errors.minlength">
              {{ constants.ORG_ID_INVALID_LENGTH_MESSAGE}}
            </div>
          </div>
        </li>
        <li>
          <label for="name">{{constants.ORG_NAME_LABEL}}:</label>
          <input type="text" class="form-control" required
                 minlength={{constants.ORG_NAME_MIN_LENGTH}}
                 maxlength={{constants.ORG_NAME_MAX_LENGTH}}
                 [(ngModel)]="model.organizationName"  name="name"
                 [ngModelOptions]="{standalone: true}"
                 (keypress)="onKeyPress($event)"
                 #name="ngModel">
          <div *ngIf="name.errors && (name.dirty || name.touched)"
               class="right-alert">
            <div [hidden]="!name.errors.required">
              {{ constants.ORG_NAME_REQUIRED_MESSAGE }}
            </div>
            <div [hidden]="!name.errors.minlength">
             {{ constants.ORG_NAME_INVALID_LENGTH_MESSAGE}}
            </div>
          </div>
        </li>
        <li>
          <label for="gcid">{{constants.GLOBAL_CUST_ORG_ID_LABEL}}:</label>
          <input type="text" class="form-control" required
                 minlength={{constants.GLOBAL_CUST_ORG_ID_MIN_LENGTH}}
                 maxlength={{constants.GLOBAL_CUST_ORG_ID_MAX_LENGTH}}
                 [(ngModel)]="model.globalCustOrgId"  name="gcid"
                 [ngModelOptions]="{standalone: true}"
                 (keypress)="onKeyPress($event)"
                 #gcid="ngModel">
          <div *ngIf="gcid.errors && (gcid.dirty || gcid.touched)"
               class="right-alert">
            <div [hidden]="!gcid.errors.required">
             {{constants.GLOBAL_CUST_ORG_ID_REQUIRED_MESSAGE}}
            </div>
            <div [hidden]="!gcid.errors.minlength">
              {{constants.GLOBAL_CUST_ORG_ID_INVALID_LENGTH_MESSAGE}}
            </div>
          </div>
        </li>
        <li>
          <label for="url">{{constants.LOGO_URL_LABEL}}:</label>
          <input type="text" class="form-control" required
                 [(ngModel)]="model.logoUrl"  name="url"
                 [ngModelOptions]="{standalone: true}"
                 (keypress)="onKeyPress($event)"
                 #url="ngModel">
          <div *ngIf="url.errors && (url.dirty || url.touched)"
               class="right-alert">
            <div [hidden]="!url.errors.required">
              {{constants.LOGO_REQUIRED_MESSAGE}}
            </div>
          </div>
        </li>
        <li><button class="btn waves-effect waves-light"
                    type="submit"
                    name="action"
                    [disabled]="hasError"
                    class="btn btn-primary"
                    (click)="createOrganization()">
                   Submit
        </button>

        </li>
      </ul>
    </form>
  </div>
</div>
