@import "material/card";
@import "material/materialize";
@import "./sidenav";
@import "./dashboard";
@import "./nvbugs";
@import "./notes";
@import "./block";
@import "./modes";
@import "./users";
@import "./registers";
@import "./memorytable";

.main-container{
  width:100%;
  z-index:-1;
  overflow-x: scroll;
  @media screen and (max-width: $break-small) {
    margin-left:0px;
  }
  @media screen and (min-width: $break-large) {
    margin-left:17%;
  }
}

.disable {
  pointer-events: none;
}

.card-grid-container {
  height: 53vw;
  border:none;
  @media screen and (min-width: $break-large) {
    overflow: scroll;
    }
}

.title{
  font-size: 14px;

  margin-right: 10px;
}

.table-header{
  display: flex;
 
  i{
    margin:50px;
  
  }
}

th {
  div p {
 margin: 0 0 0px;
  }
} 

.parent-table-header {
  th {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 300;
    height:auto;

    ul{
      display: inline-flex;
      li{
         margin-left:10px;
        }
      }
    }
  }

.dropdown-with-title{
   display:flex;
   margin-left:40px;
}

.parent-table-body{
  tr{
    td{
     padding: 0px 0px 0px 0px !important;
      table{
        thead{
          background-color:#EAEDF1;
          tr{
            th{
              min-width:auto;
              font-size: 12px;
              font-weight: 400;
            }
            td{
              .comment{
                min-width:900px;
              }
            }
          }
        }
      }
    }
  }
}
.child-table-body{

 tr:first-child{
   border:none;
 }
  tr{
    border-top:2px black solid;
    border-bottom:2px black solid;
    td {
      margin-left: 2px;
    }
  }
}

.table-container{
  width:2100px;
  height:150px;
  overflow:auto;
  background-color: #fff;
  border:1px solid #D3DAE3; 
}

.card-large-img {
  height:16vw ;
  width:13vw ;
  text-align:center;
  .card-links{
    height:3vw;
    >  a{
          padding:10px;
        
          color:white;
     }
  }
  img {
     padding:10px;
     height:8vw ;
     width:10.33vw ;
  }
}

#nvidiaLogo {
  width: 160px;
  height: 60px;
  margin: 0px 60px 80px 50px;
}

#user-vector{
  width: 85px;
  height: 85px;
  margin: 0px 75px 10px 90px;
}

table[style] {

  overflow-x: scroll;

}