
 .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px 4px;
    line-height: 1.42857143;
    border-top: 1px solid #e8e8e8;
    vertical-align: bottom;

}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
  }

.table .table {
    background-color: #fff;
    margin-right: -10px;
}

.nowrap{
   white-space: nowrap
}


.memory-table{
  .table-header{
    display: flex;
    i{
      margin:50px;
    }
    p {
      margin: 0px 6px 0px 0px;
      line-height: 14px;
    }
  }

  sd-memory-table{
    max-height: 600px;
    height: 500px;
    margin-top: 30px;
    overflow-y: scroll;
    width: 100%;
    .table-container{
      margin-top: 50px;
      position: relative;
      width: 100%;
      table{
        .parent-table-body{
          tr{
            td{
              padding: 1px 10px 0px 0px !important;
              table{
                thead{
                  background-color:#EAEDF1;
                  tr{
                    height:54px;
                    th{
                      max-height:40px;
                      font-size: 11px;
                      font-weight: 400;
                      padding: 0px;
                    }
                  }
                }
                .child-table-body{
                  font-size: 11px;
                  color: #616161;
                  tr:first-child{
                    border:none;
                  }
                  tr{
                    .pin{
                      i {
                        padding: 2px;
                      }
                    }
                    td {
                      margin: 2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  li{
    .filter-container{
      display: flex;
      position:absolute;
      top:5px;
      button{
        width:120px;
        text-align:left;
        span{
          margin-top:8px;
          float:right;
        }
      }
      .dropdown{
        .dropdown-menu{
          li:hover {
            background-color: #76b900;
          }
        }
      }
    }

    .filter-dropdown {
      border: none;
      background-color: white;
      z-index: 100;
      height:500px;
      thead {
        tr {
          background-color: white;
          th {
            position: absolute;
            top: 72px;
            border: none;
            background-color: white;
            margin-top: 1px;
            width:300px;
            max-height: 300px;
            overflow-y: auto;
            li {
              &:hover {
                background-color: #76b900;
              }
            }
          }
        }
      }
    }
  }
}

 sd-pinned-table{
    position:absolute;
    top:50px;
   .table-container{
    width:100%;
     z-index: 10;
     .parent-table-body{
       tr{
         td{
           padding: 1px 10px 0px 0px !important;
           .table{
             thead{
               background-color:#EAEDF1;
               tr{
                 height:75px !important;
                 min-width:100px !important;
                 th{
                   max-height:40px;
                   font-size: 11px;
                   font-weight: 400;
                   padding: 0px;
                 }
               }
             }
             .child-table-body{
               font-size :11px;
               tr:first-child{
                 border:none;
               }
               tr {
                 td {
                   margin:2px;
                   .delete-btn{
                     font-size:10px;
                   }
                   form {
                     width:5rem;
                     fieldset {
                       border: none;
                       padding:0px;
                       input {
                         height: 8px;
                         margin:2px;
                       }
                     }
                   }
                 }
               }
             }
           }
         }
       }
     }
   }
 }
