<nav class="heading">
<!--  -->

      <span data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </span>
      <div id="navbar" class="collapse">
        <ul>
          <li [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
            <div aria-hidden="true"><i class="fa fa-dashboard fa-lg"></i>Dashboard</div>
          </li>
          <li [routerLink]="['/organization']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
            <div aria-hidden="true"><i class="fa fa-building fa-lg" aria-hidden="true"></i>Organizations</div>

          </li>
          <li>
            <div aria-hidden="true"><i class="fa fa-address-card fa-lg" aria-hidden="true"></i>Accounts</div>
          </li>
          <li>
            <div aria-hidden="true"><i class="fa fa-server fa-lg" aria-hidden="true"></i>Ports</div>
          </li>
          <li>
            <div aria-hidden="true"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>ECX</div>
          </li>
          <li>
            <div aria-hidden="true"><i class="fa fa-users fa-lg" aria-hidden="true"></i>Users</div>
          </li>
        </ul>
      </div>

</nav>
