<div class="main-container">

    <div class="card card-large-img">
      <h5>T124</h5>
      <img src="http://www.nvidia.com/docs/IO/144267/tegra4-k1.png">
     <hr />
      <div class="card-action card-links">
        <a href="/platform/t124">Specifications</a>
      </div>
    </div>
    <div class="card card-large-img">
      <h5>T186</h5>
      <img src="http://www.nvidia.com/docs/IO/144267/tegra4-k1.png">
      <hr />
      <div class="card-action card-links">
        <a href="/platform/t186">Specifications</a>
      </div>
    </div>
</div>
