
<h5>Dashboard</h5>
<div class="container ">
  <div class="title">
    <h6>Memory Table</h6>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="caret"></span>
      <p *ngIf="hideModules" >CHIP</p>
      <p *ngIf="!hideModules" >{{chips}}</p>
    </button>
     <ul class="dropdown-menu chips">
      <li *ngFor="let chip of chips" (click)="selectedChip(chips)">{{chips}}</li>
    </ul>
  </div>
  <div class="dropdown" *ngIf="!hideModules">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="caret"></span>
      <p *ngIf="hideSku">MODULE</p>
      <p *ngIf="!hideSku" >{{modName}}</p>
    </button>
     <ul class="dropdown-menu chips">
      <li *ngFor="let mod of mods " (click)="selectedModule(mod)" >{{mod}}</li>
    </ul>
  </div>
  <div class="dropdown" *ngIf="!hideSku">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="caret"></span>
      <p *ngIf="hideRevision">SKU</p>
      <p *ngIf="!hideRevision" >{{skuNumber}}</p>
    </button>
    <ul class="dropdown-menu chips">
      <li *ngFor="let sku of skus " (click)="selectedSku(sku)">{{sku}}</li>
    </ul>
  </div>
  <div class="dropdown" *ngIf="!hideRevision" >
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="caret"></span>
      <p *ngIf="hideSubmit">REVISION</p>
      <p *ngIf="!hideSubmit" >{{revision}}</p>
    </button>
    <ul class="dropdown-menu chips">
      <li *ngFor="let revision of revisions" (click)="selectedRevision(revision)">{{revision}}</li>
    </ul>
  </div>
  <div class="dropdown" *ngIf="!hideSubmit" >
    <button class="btnaction go" id= "submit" (click)="submit()" >GO!</button>
  </div>

</div>


