
<div class="table-container">
  <table class="table data-table " >
    <tbody class="parent-table-body">
    <tr>
      <td>
       <table class="table" cellpadding="2">
          <thead>
          <tr>
            <th >
            </th>
            <th *ngFor="let column of config[groups[0]].columns;let j = index ">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                   placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"
                /></p>
              </div>
            </th>
          </tr>
          </thead>
           <tbody class="child-table-body">
           <tr *ngFor="let row of rows | filter:filterText;let i = index " class="prime" >
             <td class = "pin" ><i class="fa fa-thumb-tack" aria-hidden="true" (click)="pinHandler($event,i)"></i></td>
             <td>{{row.chipSku}}</td>
             <td>{{row.chipRevision}}</td>
             <td>{{row.chipPackageinfo}}</td>
           </tr>
           </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[1]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[1]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows | filter:filterText;">
            <td>{{row.platform}}</td>
            <td>{{row.program}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[2]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[2]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows | filter:filterText; ">
            <td>{{row.blockName}}</td>
            <td>{{row.blockRevision}}</td>
            <td>{{row.manualName}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[3]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[3]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows | filter:filterText">
            <td>{{row.registertype}}</td>
            <td>{{row.address}}</td>
            <td>{{row.name}}</td>
            <td>{{row.field}}</td>
            <td>{{row.mask}}</td>
            <td>{{row.value}}</td>
            <td>{{row.asic}}</td>
            <td>{{row.mintemp}}</td>
            <td>{{row.maxtemp}}</td>
            <td>{{row.thermalSensor}}</td>
            <td>{{row.frequency}}</td>
            <td>{{row.mode}}</td>
            <td>{{row.phase}}</td>
            <td>{{row.state}}</td>
            <td style="min-width:1050px;">{{row.comments}}</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
