
<div class="table-container">
  <table class="table data-table " >
    <tbody class="parent-table-body">
    <tr>
      <td>
       <table class="table">
          <thead>
          <tr>
            <th >
            </th>
            <th *ngFor="let column of config[groups[0]].columns;let j = index ">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                   placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"
                /></p>
              </div>
              <div *ngIf=" j == 1 ">
                <span *ngFor="let sku of skus" (click)="onSkuSelect(sku)">{{sku}}</span>
              </div>
              <div *ngIf=" j == 2 ">
                <span *ngFor="let revision of revisions" (click)="onRevisionSelect(revision)">{{revision }}</span>
              </div>
              <div *ngIf=" j == 3 ">
                <span *ngFor="let packageInfo of packageInfos" (click)="onPackageInfoSelect(packageInfo)">{{packageInfo}}</span>
              </div>
            </th>
          </tr>
          </thead>
           <tbody class="child-table-body">
           <tr *ngFor="let row of rows | filter:filterText;let i = index " class="prime" >
             <td class = "pin" ><i class="fa fa-thumb-tack" aria-hidden="true" (click)="pinHandler($event,i)"></i></td>
             <td>{{row.record_id}}</td>
             <td>{{row.chip_sku}}</td>
             <td>{{row.chip_revision}}</td>
             <td>{{row.chip_package_info}}</td>
           </tr>
           </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[1]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[1]].columns;let j = index ">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
              <div *ngIf=" j == 0 ">
                <span *ngFor="let platform of platforms" (click)="onPlatformSelect(platform)">{{platform}}</span>
              </div>
              <div *ngIf=" j == 1 ">
                <span *ngFor="let program of programs" (click)="onProgramSelect(program)">{{program}}</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows | filter:filterText;">
            <td>{{row.platform}}</td>
            <td>{{row.program}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[2]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[2]].columns;let j = index ">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
              <div *ngIf=" j == 0 ">
                <span *ngFor="let blockName of blockNames" (click)="onBlockNameSelect(blockName)">{{blockName}}</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows | filter:filterText; ">
            <td>{{row.block_name}}</td>
            <td>{{row.block_revision}}</td>
            <td>{{row.manual_name}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[3]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[3]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body" id="registerFields">
          <tr *ngFor="let row of rows | filter:filterText">
            <td>{{row.registertype}}</td>
            <td>{{row.address}}</td>
            <td>{{row.register}}</td>
            <td>{{row.field_name}}</td>
            <td>{{row.mask}}</td>
            <td>{{row.value}}</td>
            <td>{{row.asic}}</td>
            <td>{{row.min_temp}}</td>
            <td>{{row.max_temp}}</td>
            <td>{{row.thermal_sensor}}</td>
            <td>{{row.frequency}}</td>
            <td style="min-width:200px;max-height:10px;height:80%">{{row.mode}}</td>
            <td>{{row.phase}}</td>
            <td>{{row.state}}</td>
            <td style="min-width:1800px;max-height:10px;height:80%">{{row.comments}}</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>


