
<div class="table-container">
  <table class="table data-table " >
    <tbody class="parent-table-body">
    <tr>
      <td>
       <table class="table">
          <thead>
          <tr>
            <th>
            </th>
            <th *ngFor="let column of config[groups[0]].columns;let j = index ">
              <div class="table-header" >
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input id="column-level-filters"
                  type="text" name={{column.name}}
                   placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"
                /></p>
              </div>
              <div class="typeaheadv" *ngIf=" j == 0 && column.isVisible">
                <span *ngFor="let id of recordIds" (click)="onRecordIdSelect(id, 'Record Id')">{{id}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 1 && column.isVisible">
                <span *ngFor="let sku of skus" (click)="onSkuSelect(sku, 'SKU')">{{sku}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 2 && column.isVisible">
                <span *ngFor="let revision of revisions" (click)="onRevisionSelect(revision, 'Revision')">{{revision }}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 3 && column.isVisible">
                <span *ngFor="let packageInfo of packageInfos" (click)="onPackageInfoSelect(packageInfo, 'Package Info')">{{packageInfo}}</span>
              </div>
            </th>
          </tr>
          </thead>
           <tbody class="child-table-body">
             <ng-container *ngFor="let row of rows | filter:filterText;let i = index ">
                <tr class="prime" id="{{row._id}}">
                  <td class="pin" ><i class="fa fa-thumb-tack" id="record-{{row.record_id}}" aria-hidden="true" (click)="pinHandler($event,i)"></i></td>
                  <td>{{row.record_id}}</td>
                  <td>{{row.sku_info}}</td>
                  <td>{{row.chip_revision_entry}}</td>
                  <td>{{row.package_info}}</td>
                </tr>
                <tr class="sub-rows history" *ngFor="let subRow of row['subRows']" >
                  <td></td>
                  <td >{{subRow.record_id}}</td>
                  <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('sku_info')!==-1}">{{subRow.sku_info}}</td>
                  <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('chip_revision_entry')!==-1}">{{subRow.chip_revision_entry}}</td>
                  <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('package_info')!==-1}">{{subRow.package_info}}</td>
                </tr>
             </ng-container>
           </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[1]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[1]].columns;let j = index ">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input id="column-level-filters"
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
              <div class="typeaheadv" *ngIf=" j == 0 && column.isVisible">
                <span *ngFor="let platform of platforms" (click)="onPlatformSelect(platform, 'Platform')">{{platform}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 1 && column.isVisible">
                <span *ngFor="let program of programs" (click)="onProgramSelect(program, 'Programs')">{{program}}</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
            <ng-container *ngFor="let row of rows | filter:filterText;">
                  <tr class="prime" id="{{row._id}}">
                    <td>{{row.platform_name}}</td>
                    <td>{{row.programs}}</td>
                  </tr>
                  <tr class="sub-rows history" *ngFor="let subRow of row['subRows']" id="sub-row-{{row._id}}">
                    <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('platform_name')!==-1}">{{subRow.platform_name}}</td>
                    <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('programs')!==-1}">{{subRow.programs}}</td>
                  </tr>
            </ng-container>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[2]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[2]].columns;let j = index ">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input id="column-level-filters"
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
              <div class="typeaheadv" *ngIf=" j == 0 && column.isVisible">
                <span *ngFor="let blockName of blockNames" (click)="onBlockNameSelect(blockName, 'Name')">{{blockName}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 1 && column.isVisible">
                <span *ngFor="let blockRevision of blockRevisions" (click)="onBlockRevisionSelect(blockRevision, 'Block Revision')">{{blockRevision}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 2 && column.isVisible">
                <span *ngFor="let manualName of manualNames" (click)="onManualNameSelect(manualName, 'Manual')">{{manualName}}</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
            <ng-container *ngFor="let row of rows | filter:filterText; ">
              <tr class="prime" id="{{row._id}}">
                <td>{{row.block}}</td>
                <td>{{row.block_revision}}</td>
                <td>{{row.manual}}</td>
              </tr>
              <tr class="sub-rows history" *ngFor="let subRow of row['subRows']" id="sub-row-{{row._id}}">
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('block')!==-1}">{{subRow.block}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('block_revision')!==-1}">{{subRow.block_revision}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('manual')!==-1}">{{subRow.manual}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[3]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[3]].columns;let j = index">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
              <div class="table-header">
                <p><input id="column-level-filters"
                  type="text" name={{column.name}}
                  placeholder={{column.name}}
                  (input)="onSearchChange($event.target.value,column.name)"></p>
              </div>
              <div class="typeaheadv" *ngIf=" j == 0 && column.isVisible">
                <span *ngFor="let type of regTypes" (click)="onRegisterTypeSelect(type, 'Reg Type')">{{type}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 1 && column.isVisible">
                <span *ngFor="let address of regAddresses" (click)="onRegisterAddressSelect(address, 'Reg Address')">{{address}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 2 && column.isVisible">
                <span *ngFor="let register of regNames" (click)="  onRegisterNameSelect(register, 'Reg Name')">{{register}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 3 && column.isVisible">
                <span *ngFor="let field_name of fieldNames" (click)="  onRegisterFieldNameSelect(field_name, 'Field Name')">{{field_name}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 4 && column.isVisible">
                <span *ngFor="let mask of masks" (click)="  onRegisterMaskSelect(mask, 'Mask')">{{mask}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 5 && column.isVisible">
                 <span *ngFor="let value of values" (click)="  onRegisterValueSelect(value, 'Value')">{{value}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 6 && column.isVisible">
                <span *ngFor="let asic of asics" (click)="onRegistersAsicSelect(asic, 'ASIC')">{{asic}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 7 && column.isVisible">
                <span *ngFor="let minTemp of minTemps" (click)="onRegistersMinTempSelect(minTemp, 'Min Temp')">{{minTemp}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 8 && column.isVisible">
                <span *ngFor="let maxTemp of maxTemps" (click)="onRegistersMaxTempSelect(maxTemp, 'Max Temp')">{{maxTemp}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 9 && column.isVisible">
                <span *ngFor="let thermalSen of thermalsens" (click)="onRegistersThermalSenSelect(thermalSen, 'Thermal Sen')">{{thermalSen}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 10 && column.isVisible">
                <span *ngFor="let frequency of frequencies" (click)="onRegistersFrequencySelect(frequency, 'Frequency')">{{frequency}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 11 && column.isVisible">
                <span *ngFor="let mode of modes" (click)="onRegistersModeSelect(mode, 'Mode')">{{mode}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 12 && column.isVisible">
                <span *ngFor="let phase of phases" (click)="onRegistersPhaseSelect(phase, 'Phase')">{{phase}}</span>
              </div>
              <div class="typeaheadv" *ngIf=" j == 13 && column.isVisible">
                   <span *ngFor="let state of states" (click)="onRegistersStateSelect(state, 'State')">{{state}}</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body" id="registerFields">
            <ng-container *ngFor="let row of rows | filter:filterText; ">
              <tr class="prime" id="{{row._id}}">
                <td>{{row.reg_type}}</td>
                <td>{{row.reg_address}}</td>
                <td>{{row.reg_name}}</td>
                <td>{{row.field_name}}</td>
                <td>{{row.mask}}</td>
                <td>{{row.value}}</td>
                <td>{{row.asic}}</td>
                <td>{{row.min_temp}}</td>
                <td>{{row.max_temp}}</td>
                <td>{{row.thermal_sensor}}</td>
                <td>{{row.frequency}}</td>
                <td>{{row.mode}}</td>
                <td>{{row.curr_phase}}</td>
                <td>{{row.curr_state}}</td>
                <td>{{row.comments}}</td>
                <td>{{row.version}}
                  <i class="fa fa-history" (click)="getHistory($event,row)"></i>
                </td>
                <td>N/A</td>
                <td>N/A</td>
              </tr>
              <tr class="sub-rows history" *ngFor="let subRow of row['subRows']" id="sub-row-{{row._id}}">
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('reg_type')!==-1}">{{subRow.reg_type}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('reg_address')!==-1}">{{subRow.reg_address}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('reg_name')!==-1}">{{subRow.reg_name}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('field_name')!==-1}">{{subRow.field_name}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('mask')!==-1}">{{subRow.mask}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('value')!==-1}">{{subRow.value}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('asic')!==-1}">{{subRow.asic}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('min_temp')!==-1}">{{subRow.min_temp}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('max_temp')!==-1}">{{subRow.max_temp}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('thermal_sensor')!==-1}">{{subRow.thermal_sensor}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('frequency')!==-1}">{{subRow.frequency}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('mode')!==-1}">{{subRow.mode}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('curr_phase')!==-1}">{{subRow.curr_phase}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('curr_state')!==-1}">{{subRow.curr_state}}</td>
                <td [ngClass] ="{'his-attr': subRow.updated_attributes.indexOf('comments')!==-1}">{{subRow.comments}}</td>
                <td>{{subRow.version}}</td>
                <td>N/A</td>
                <td>N/A</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
