
<div class="table-container"  *ngIf="!hidePinnedtable" >
  <table class="table data-table" >
    <tbody class="parent-table-body">
    <tr>
      <td>
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let column of config[groups[0]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows; let i = index" >
            <td></td>
            <td>{{row.record_id}}</td>
            <td (click)="editTableCellHandler($event,'sku_info',i)">{{row.sku_info}}</td>
            <td (click)="editTableCellHandler($event,'chip_revision_entry',i)">{{row.chip_revision_entry}}</td>
            <td (click)="editTableCellHandler($event,'package_info',i)" >{{row.package_info}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[1]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[1]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows ; let i = index">
            <td (click)="editTableCellHandler($event,'platform_name',i)" >{{row.platform_name}}</td>
            <td (click)="editTableCellHandler($event,'programs',i)">{{row.programs}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[2]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[2]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
          <tr *ngFor="let row of rows; let i = index" >
            <td (click)="editTableCellHandler($event,'block',i)">{{row.block}}</td>
            <td (click)="editTableCellHandler($event,'block_revision',i)" >DC</td>
            <td (click)="editTableCellHandler($event,'manual',i)">{{row.manual}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table" [hidden]="!config[groups[3]].isVisible">
          <thead>
          <tr>
            <th *ngFor="let column of config[groups[3]].columns">
              <div class="table-header">
                <p>{{column.name}}</p>
              </div>
            </th>
            <th>

            </th>
          </tr>
          </thead>
          <tbody class="child-table-body">
           <tr *ngFor="let row of rows; let i = index" >
             <td (click)="editTableCellHandler($event,'reg_type',i)">{{row.reg_type}}</td>
             <td (click)="editTableCellHandler($event,'reg_address',i)">{{row.reg_address}}</td>
             <td (click)="editTableCellHandler($event,'reg_name',i)" >{{row.reg_name}}</td>
             <td (click)="editTableCellHandler($event,'field_name',i)"  >{{row.field_name}}</td>
             <td (click)="editTableCellHandler($event,'mask',i)" >{{row.mask}}</td>
             <td (click)="editTableCellHandler($event,'value',i)" >{{row.value}}</td>
             <td (click)="editTableCellHandler($event,'asic',i)" >{{row.asic}}</td>
             <td (click)="editTableCellHandler($event,'min_temp',i)" >{{row.min_temp}}</td>
             <td (click)="editTableCellHandler($event,'max_temp',i)" >{{row.max_temp}}</td>
             <td (click)="editTableCellHandler($event,'thermal_sensor',i)" >{{row.thermal_sensor}}</td>
             <td (click)="editTableCellHandler($event,'frequency',i)">{{row.frequency}}</td>
             <td (click)="editTableCellHandler($event,'mode',i)" style="min-width:200px;max-height:10px;height:80%">{{row.mode}}</td>
             <td (click)="editTableCellHandler($event,'curr_phase',i)" >{{row.curr_phase}}</td>
             <td (click)="editTableCellHandler($event,'curr_state',i)">{{row.curr_state}}</td>
             <td (click)="editTableCellHandler($event,'comments',i)" style="min-width:1800px;max-height:10px;height:80%">{{row.comments}}</td>
             <td>{{row.record_version}}</td>
             <td>N/A</td>
             <td>N/A</td>
             <td><div type="button" class="btn btn-primary delete-btn" (click)="onDelete($event,i)">Delete</div></td>
           </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div type="button" class="btn btn-primary"  *ngIf="editable"  (click)="onSubmit($event)" >Submit</div>
